<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Name Shaker
    </ion-title>
    <ion-buttons right>
      <button (click)="shakeIt()">Shake it!</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let person of people">
      {{person.rank}} {{person.name}}
    </ion-item>
  </ion-list>
</ion-content>
