<ion-nav #myapp [root]="rootPage"></ion-nav>

<ion-menu [content]="myapp">
    <ion-content>
        <ion-list>
            <ion-item *ngFor="let group of groups">
                <button ion-item menuClose (click)="setGroup(group)">
                    <ion-icon name="people"></ion-icon>
                    {{group}}
                    </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>